@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poetsen+One&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;

}
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
}
img{
    position: relative;
    width: 100%;
    height: 100%;
}
nav {
    position:fixed;
    display: flex;
    width: 100%;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, .5);
    z-index: 2;
    align-items: center;
    justify-content: space-evenly;
}
.cv{
    position: absolute;
    right: 5%;
    transform: scale(1.15);
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: orange;
    border: none;
    font-family:"Poetsen One", sans-serif ;
}
.cv:hover{
    background-color: #000;
    color: orange;
}
.hr{
    position: absolute;
    left: 5%;
    transform: scale(1.15);
    padding: 10px;
    border-radius: 10px;
    color: orange;
    background-color: black;
    border: none;
    font-family:"Poetsen One", sans-serif ;
}
.hr:hover{
    background-color: orange;
    color: #020000;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: "Poetsen One", sans-serif;
}

.background {
    background-color: #fff;
        position: relative;
        max-width: 100%;
        height: auto; 
    
}
.details {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1);    
    top: 40%;
    left: 50%;
    padding: 30px;
    text-align: center;
}
.details h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
.details span {
    color: rgb(221, 152, 23) ;
    font-family: "Poetsen One", sans-serif;

}

.details p {
    color: #555;
    line-height: 22px;
}

.details a {
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.cvd{
    position: absolute;
    right: 12%;
    top:67%;
    transform: scale(1.5);
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgba(255, 165, 0,.5);
    border: none;
    font-family:"Poetsen One", sans-serif ;
}
.cvd:hover{
background-color: rgba(0, 0, 0, 0.5);
color: orange;
}

.sec section {
    display: block; 
    margin: 20px 10px 20px 10px;
    background: #fff;
    font-family: sans-serif;
}

.prj{
    position: relative;
    justify-content: center;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 12rem;
    text-align: center;
    border-radius: 10px;

}
.prj h1{
    font-size: 30px;
    color: orange;
    font-family: "Poetsen One", sans-serif;
    margin-bottom: 20px;
}
.prj a{
    color: #020000;
    font-size: 25px;
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-style: normal;
    position: relative; 
    text-decoration:none;
}
#rvrint{
    position: absolute;
    top: 99%;
    left: 12%;
    width:390px;
    border: 1px  black;
    box-shadow: 1px 8px 10px 2px  rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    border: 1px;
    padding: 20px 10px 60px 20px;
}
#rvrint h3{
font-weight: 200;
font-family: "Caveat", cursive;
display: flex;
justify-self: start;
}
#rvrint a{
    color: orange;
    display: flex;
    justify-content: start;
}
#abp{
    position: absolute;
    top: 89%;
    left: 56%;
    width: 390px;
    border: 1px;
    border: 1px  black;
    box-shadow: 1px 8px 10px 2px  rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    padding: 20px 10px 90px 20px;
}
#abp h3{
    font-weight: 200;
    font-family: "Caveat", cursive;
    display: flex;
    justify-self: start;
    color: orange;
}
#abp p{
    padding-top: 20px;
    font-weight: 300;
    font-family: "Kalam", cursive;
}

:where(.prj,section ul li ) a:hover{
    text-decoration: underline;
}
#about{
    height: 200px;
    width: 850px;
    position: absolute;
    left: 17%;
    margin-top: 75px;
    border: 1px  black;
    border-radius: 10px;
}
#about h1{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    color: orange;

}
#about ul {
    list-style: none;
    display: flex;
    justify-content:end;
    padding: 15px;
    position: absolute;
    left: 6%;
}
#kn{
    position: absolute;
    left: 50%;
    top: 70%;
    font-family:"Poetsen One", sans-serif ;
}
#kcv{
   
    transform: scale(1.15);
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: orange;
    border: none;
    font-family:"Poetsen One", sans-serif ;
}
#kcv:hover{
background-color: #000;
color: orange;
}
#about ul li{
    font-family: "Caveat", cursive;
}
#edu{
    position: absolute;
    top: 200%;
    left: 17%;
    width: 400px;
    height: 200px;
    border: 1px  black;
    box-shadow: 1px 8px 10px 2px  rgba(0, 0, 0, 0.2); 
    border-radius: 10px;

}
#edu h1{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    color: orange;

}
#edu p{
    margin-left: 13px;
    font-size: small;
    font-family: "Caveat", cursive;

}
.con{
    position: absolute;
    top: 200%;
    left: 50%;
    width: 400px;
    height: 200px;
    border: 1px  black;
    border-radius: 10px;
}
.con h1{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    color: orange;

}
.con div{
    margin: 20px 0 0 80px;
}
.con a{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 30px;
    border: 1px  black;
    box-shadow: 1px 8px 10px 2px  rgba(0, 0, 0, 0.2); 
    border-radius: 50%;
    padding: 15px;
}
#last{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
#last{
    position: absolute;
    top: 243%;
    left:20%;
}
.link{
   position:relative;
   top: 110%;
   left:40%;
   width: 400px;
}
.link a{
    margin: 10px;
    font-family: "Poetsen One", sans-serif;
    color: #555;
    text-decoration: none;
    font-size: large;

}
.icons{
    margin: 30px;
    position: absolute;
    top: 258%;
    left:43%;
    height: 200px;

}
.icons p{
    margin-top: 20px;
    margin-left: -60px;
    font-family: "Poetsen One", sans-serif;
    color: #555;

}
#copy{
    margin-top: 50px;
    margin-left:-200px;
    padding-bottom:50px ;
}
#copy span{
    color: orange;
    font-family: "Poetsen One", sans-serif;

}
.icons i{
    padding: 15px;
    border: 1px  black;
    box-shadow: 1px 8px 10px 2px  rgba(0, 0, 0, 0.2); 
    border-radius: 50%;
    transform: scale(1.25);
    margin-right: 25px;
}
#name{
    position: absolute;
    top: 245%;
    left:43%; 
    font-family: "Poetsen One", sans-serif;
}
#name span{
    color: orange;
}
.link a:hover{
    color: rgba(255, 165, 0,.8);
    
}
.con a:hover{
    background-color: rgba(255, 165, 0,.5);
}
i:hover{
    background-color: rgba(255, 165, 0,.5);
}
nav ul li a:hover {
    color: orange;
}

@media only screen and (max-width:540px){
#cover{
    scale: 1.75;
    margin-left: 210px;
    transform: scaleX(1.5);
    transform: scaleY(2);
}    
.details{
    top: 50%;
    left: 70%;
}
.cvd{
    /* top: 70%;
    left: 70%; */
    margin-top: 190px;
    margin-left: 250px;
    display: none;
}
.prj{
    top: 50%;
}
.prj h1{
    margin-left: 330px;
    scale: 1.5;
}
#rvrint{
    margin-top: 150px;
    left: 50%;
    scale: 2;
}
#abp{
    margin-top: 750px;
    scale: 2;
}
#edu{
    top: 210%;
    scale: 1.5;
    margin-left: 200px; 
}
.con{
    top: 250%;
}
.link{
    top: 208% ;
    left: 62%;
}
#name{
    margin-left: 230px;
}
.icons{
    top: 270%;
    margin-left: 200px;
}
.ic i{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    scale: .8;
}
}   